/* Movie Details Page CSS */

.moviesDetailsPage {
    color: white;
    background-color: rgb(40, 40, 40);
    padding: 1vw;
    width: 100%; 
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}