/* navBar CSS */

#navBar {
    background-color: aliceblue;
    color: black;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

.navLinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.navLinks a {
    color: black;
    font-weight: bold;
    font-size: x-large;
    transition: background-color 0.2s ease, color 0.2s ease;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 75%;
}

.navLinks a:hover {
    background-color: black;
    color: white;
    border-color: gray;
    transform: translateX(20px);
}

.title {
    font-family: baumans;
    border-bottom: double black;
}