/* navBar CSS */

#navBar {
    background-color: aliceblue;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.navLinks {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navLinks a {
    color: darkgrey;
}