/* Register Page CSS */

.registerPage {
    color: white;
    background-color: rgb(40, 40, 40);
    padding: 1vw;
    width: 100%; 
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}

.registerInputs {
    background-color: darkred;
    padding: 2rem;
    width: fit-content;
}

.formGroup {
    display: flex;
    flex-direction: column;
}